@use '../sections' as *;


@mixin btn($backColor,$hoverBackColor,$textColor,$hoverTextColor,$fw) {
  background-color: $backColor;
  color: $textColor;
  transition: $transition-1;
  padding: 10px 30px;
  border-radius: $radius-3;
  width: fit-content;
  font-weight: $fw;
  &:hover {
    background-color: $hoverBackColor;
    color: $hoverTextColor;
  }
}

%show-hide-scrollbar {
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: $transition-2;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: hsl(0, 0%, 95%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: hsl(0, 0%, 80%);
    }
  }
}